/* page: top padding */
:is(
	.page-template-wp-custom-template-ak-archive-i,
	.page-template-wp-custom-template-ak-page,
	.tax-ak_object_category,
	.tax-ak_object_collection,
	.tax-ak_object_material,
	.tax-ak_object_tag,
	.single-ak_client,
	.single-ak_exhibition
) > .wp-site-blocks {
	padding-top: 150px;
}

:is(
	.single-ak_object
) > .wp-site-blocks {
	padding-top: 100px;
}


/* links: remove focus outline */
:where(.wp-site-blocks *:focus) {
	outline-width: unset;
	outline-style: unset;
}


/* label */
:is(.plura-wp-posts, .plura-wp-terms)[data-label]::before {
	content: attr(data-label);
	display: block;
}


/* header */
header {
	height: 100vh;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

header > .wp-block-group {
	pointer-events: all;
	position: sticky;
	top: 0;
	z-index: 9999;
}

header > .wp-block-group > .wp-block-group {
	background-color: transparent;
}

@media (max-width: 990px) {

	header > .wp-block-group > .wp-block-group {
		justify-content: space-between;
	}

	header .wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: flex;
	}

	header .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: none;
	}

}


/* header: home */
.home header nav .wp-block-navigation-item.ak-nav-logo-holder {
	display: none;
}

.home header .wp-block-site-logo {
	visibility: hidden;
}


/* footer */
@media (max-width: 990px) {

	footer nav, footer nav > ul {
		justify-content: center !important;
	}

}


/* gallery */
.f-carousel .f-carousel__slide img {
	display: block;
	height: auto;
	max-height: 600px;
	max-width: 100%;
	margin: auto;
	width: auto;
}

.f-carousel .f-carousel__viewport {
	transition: height .2s ease;
}

.f-carousel .f-carousel__slide[style] {
	padding: 0 .4px;
	height: var(--h);
}


/* object: single */
.single-ak_object .ak-object-image {
	height: auto;
	width: 100%;
}


/* object: info slide */
@media (min-width: 768px) {

	.single-ak_object .ak-object-core {
		overflow: hidden;
		position: relative;
		gap: 0;
	}

	.single-ak_object .ak-object-core .ak-object-core-col {
		position: relative;
	}

	.single-ak_object .ak-object-core .ak-object-core-col1 {
		left: calc( var(--colw) / 2 );
		transition: left .4s ease-out;
	}

	.single-ak_object .ak-object-core[data-info="1"] .ak-object-core-col1 {
		left: 0;
	}

	.single-ak_object .ak-object-core .ak-object-core-col2 {
		right: calc( -1 * var(--colw) );
		transition: right .4s ease-out;
	}

	.single-ak_object .ak-object-core[data-info="1"] .ak-object-core-col2 {
		right: 0;
	}

	.single-ak_object .ak-object-core .ak-object-info-toggle-trigger {
		align-items: center;
		display: flex;
		cursor: pointer;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity .4s ease-out;
		z-index: auto;
	}

	.single-ak_object .ak-object-core .ak-object-info-toggle-trigger::after {
		content: 'Info';
	}

	.with-fancybox .single-ak_object .ak-object-core .ak-object-info-toggle-trigger {
		opacity: 0;
	}

}


/* object: info table */
.single-ak_object .ak-object-info {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: min-content auto;
}

.single-ak_object .ak-object-info :is(
	.plura-wp-post-terms, .plura-wp-post-terms-taxonomy, .plura-wp-post-term, .plura-wp-post-term-title,
	.plura-wp-post-meta, .plura-wp-post-meta-item
) {
	display: contents;
}

.single-ak_object .ak-object-info :is(
	.plura-wp-post-terms .plura-wp-post-terms-taxonomy[data-taxonomy],
	.plura-wp-post-meta .plura-wp-post-meta-item[data-label]
)::before {
	display: block;
	white-space: nowrap;
}

.single-ak_object .ak-object-info .plura-wp-post-meta .plura-wp-post-meta-item[data-label]::before {
	content: attr(data-label) ':';
}

.single-ak_object .ak-object-info .plura-wp-post-terms .plura-wp-post-terms-taxonomy[data-taxonomy]::before {
	content: attr(data-taxonomy-name) ':';
}

.single-ak_object .ak-object-info .plura-wp-link .plura-wp-post-term-title {
	text-decoration: underline;
}

.single-ak_object .ak-object-info .plura-wp-link .plura-wp-post-term-title:hover {
	text-decoration: none;
}


/* group */
:is(.plura-wp-posts, .plura-wp-terms) {
	display: grid;
}

:is(.plura-wp-posts, .plura-wp-terms)[data-layout="grid"] {
	--n: 2;
	gap: var(--ak-globals-grid-gap);
}

@media all and (min-width: 768px) {
	:is(.plura-wp-posts, .plura-wp-terms)[data-layout="grid"] {
		--n: 3;
	}
}

@media all and (min-width: 991px) {
	:is(.plura-wp-posts, .plura-wp-terms)[data-layout="grid"] {
		--n: 4;
	}
}

@media all and (min-width: 1200px) {
	:is(.plura-wp-posts, .plura-wp-terms)[data-layout="grid"] {
		--n: 5;
	}
}


/* group: related */
:is(.plura-wp-posts, .plura-wp-terms)[data-layout="grid"][data-related] {
	--n: 3;
}

@media all and (min-width: 768px) {
	:is(.plura-wp-posts, .plura-wp-terms)[data-layout="grid"][data-related] {
		--n: 6;
	}
}


/* group: list */
:is(.plura-wp-posts, .plura-wp-terms)[data-layout="list"] {
	gap: calc( var(--ak-globals-grid-gap) / 6);
}


/* exhibition: datetime */
.ak-datetime {
	--space: 5px;
	display: grid;
	gap: calc( var(--ak-globals-theme-gap) / 2 );
}

.ak-datetime .ak-datetime-item.start-end,
.ak-datetime .ak-datetime-item.opening {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.ak-datetime .ak-datetime-item.start-end .start::after,
.ak-datetime .ak-datetime-item.opening .start::after {
	content: '-';
	margin: 0 var(--space);
}

.ak-datetime .ak-datetime-item.opening::before {
	content: attr(data-label);
	display: block;
	width: 100%;
}

.ak-datetime .ak-datetime-item.opening .date {
	margin-right: var(--space);
}

.ak-datetime .ak-datetime-item.opening.has-time .date::after {
	content: '|';
	margin-left: var(--space);
}
